.series-section{
    padding: 20px 0 20px 50px;
   display: flex;
   flex-direction: row;
    &__title{
        font-weight: 500;
        color: #fff;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    &__thumbnails{
        display: flex;
        justify-content: center;
        text-align: left;
        flex-wrap: nowrap;
        min-width: 100%;
        width: calc(100vw - 70px);
        overflow-x: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    &__series{
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        margin-right: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            color: #fff;
            width: 500px;
            font-size: 25px;
            margin-bottom: 25px;
        }
        p{
            margin-bottom: 15px;
            color: #fff;
            font-size: 12px;
            width: 500px;
        }
        button{
            border-radius: 50px;
            border: none;
            width: 140px;
            background: rgb(4,0,36);
            background: linear-gradient(151deg, rgba(4,0,36,1) 0%, rgba(98,0,135,1) 41%, rgba(91,12,239,1) 97%);
            padding: 10px 20px;
            a{
                color: #fff;
                text-transform: uppercase;
                font-size: 12px;
            }
        }
    }
    &__thumbnail{
        width: 240px;
        height: auto;
        position: relative;
        margin-right: 10px;
        img{
            width: 240px;
            height: auto;
            position: relative;
            object-fit: contain;
            object-position: center;
            margin-right: 10px;
        }
    }
    &__thumbnail{
        img{
        width: 185px;
        height: 185px;
        position: relative;
        object-fit: contain;
        object-position: center;
        margin-right: 10px;
        border-radius: 50%;
        }
    }
}